!!! 5
%html{:lang => "ja"}
	%head
		%meta{:charset => "UTF-8"}/
		%meta{ :name => "keywords", :content => "" }/
		%meta{ :name => "description", :content => "" }/
		%link{ :rel => "stylesheet", :href => "css/main.css" }/
		%script{ :src=>"http://code.jquery.com/jquery-latest.min.js"}
		%title
			メリークリスマス
	%body
		%img{ :src=>"image/XmasTree.svg"}
		%canvas#canvas
		%script{ :src=>"js/main.js" }

